{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% include "menu.html" %}
    {% include "header.html" %}
    
        <div class="mt-4 p-5 bg-primary text-white rounded">
          <h1>De Volta Para O Futuro</h1> 
          <p>O adolescente Marty McFly é transportado para 1955 quando uma experiência do excêntrico cientista Doc Brown dá errado. Ele viaja pelo tempo em um carro modificado e acaba conhecendo seus pais ainda jovens. O problema é que Marty pode deixar de existir porque ele interferiu na rotina dos pais, que correm o risco de não se apaixonar mais. Para complicar ainda mais a situação, Marty precisa voltar para casa a tempo de salvar o cientista.</p> 
          <p>Confira o <a href="https://www.youtube.com/watch?v=R894dvwNo4w" target="_blank"><span style="color: #000;">trailer</span></a> da trilogia.</p>
          <center><img src="https://br.web.img3.acsta.net/medias/nmedia/18/90/95/62/20122008.jpg" height="359" width="250"></center>
        </div>
      </div>

      

</body>
</html>